body {
  font-family: "Open Sans", Helvetica, sans-serif;
  margin-top: 5rem;
}

.navigation {
  position: fixed;
  top: 0;
  background: #fff;
}

.navigation a:hover, .navigation a:focus {
  text-decoration: none
}

a:before,a:after{position:absolute;bottom:-2px;content:"";display:inline-block;width:0;height:2px;background:#0066cc;transition:.5s}
