body {
  font-family: "Open Sans", Helvetica, sans-serif;
}

.content {
  margin-top: 5rem;
}

.navigation {
  position: fixed;
  top: 0;
  background: #fff;
}

.navigation a:hover, .navigation a:focus {
  text-decoration: none
}
